# Base de données
DATABASE_URL=postgresql://roommate:password@db:5432/roommate_db

# JWT
JWT_SECRET=change_moi_en_prod
JWT_REFRESH_SECRET=change_moi_aussi_en_prod
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Serveur
PORT=3000
NODE_ENV=development

# Cloudinary (images)
CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx